accelerate==1.9.0
appdirs==1.4.4
atomicwrites==1.4.0
bioc==2.1
boto3==1.40.4
botocore==1.40.4
cairocffi==1.7.1
CairoSVG==2.8.2
click-plugins==1.1.1.2
cligj==0.7.2
cmdstanpy==1.2.5
conllu==4.5.3
cssselect2==0.8.0
datasets==4.0.0
Deprecated==1.2.18
docopt==0.6.2
fiona==1.10.1
flair==0.15.1
ftfy==6.3.1
gdown==5.2.0
git-filter-repo==2.47.0
hf-xet==1.1.5
huggingface-hub==0.34.1
ipdb==0.13.13
jsonlines==4.0.0
jsonpointer==2.1
krippendorff==0.8.1
langdetect==1.0.9
matplotlib==3.9.2
mkl-service==2.4.0
mpld3==0.5.11
mpltern==1.0.4
multiprocess==0.70.16
pandas-flavor==0.6.0
pingouin==0.5.5
pptree==3.1
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
pynetcor==0.1.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-ternary==1.0.8
pytorch_revgrad==0.2.0
s3transfer==0.13.1
safetensors==0.5.3
segtok==1.5.11
sentencepiece==0.2.0
sentry-sdk==2.33.2
setuptools==75.1.0
sqlitedict==2.1.0
stanio==0.5.1
sympy==1.13.1
tdqm==0.0.1
ternary==0.1
tokenizers==0.21.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
transformer-smaller-training-vocab==0.4.2
transformers==4.54.0
triton==3.1.0
wandb==0.21.0
wheel==0.44.0
Wikipedia-API==0.8.1
xlsxwriter==3.2.9
xxhash==3.5.0
